{
  "mcpServers": {
    "hostinger-mcp": {
      "command": "npx",
      "args": [
        "-y",
        "hostinger-api-mcp@latest"
      ],
      "env": {
        "API_TOKEN": "TU_TOKEN_AQUI"
      }
    }
  }
}

